+++
title = "CloudSight"
linkTitle = "cloudsight"
+++

{{< blocks/cover title="Welcome to MOF Docs" image_anchor="center" height="auto" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/pointgoal">
		Github <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Open source FinOps platform for multi-cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="Open source!" %}}
MOF is always **open source**!

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/pointgoal" %}}
We do a [Pull Request](https://github.com/pointgoal/mof/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Discuss with us on Slack!" url="https://rk-syz1767.slack.com/" %}}
For discussing architecture, roadmap and etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


